@charset "utf-8";


@media (max-width: 640px) {
  body {
    background-image: url("../images/henley-design-studio---DFs521_qA-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    /*background-size: cover;*/
    background-position: 100% 100%;
    /*background-position: right 0px bottom 0px;*/
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
  }
}
@media (min-width: 641px) {
  body {
    background-image: url("../images/henley-design-studio---DFs521_qA-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;

  }
}